<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>My Personal Blog</title>

	<meta name="description" content="Data Science & AI is helping people everywhere solve problems big and small">
	<meta name="author" content="Abdulaziz Komilov">

	<meta property="og:title" content="My Personal Blog">
	<meta property="og:description" content="Data Science & AI is helping people everywhere solve problems big and small">
    {% load static %}
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="{% static 'css2' %}" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'a-logo.png' %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <script async="" src="{% static 'analytics.js' %}"></script>
	<header id="header" class="">
		<div class="container">
			<div class="logo"><a href="{% url 'index' %}"><img src="{% static 'a-logo.png' %}" width="30" height="30"></a></div>
			<a class="slogan download-button no-phone button-sm bg-gradient d-none" href="{% url 'index' %}">Home</a>
		</div>
	</header>

        {% block content %}
        {% endblock content %}

	<script src="{% static 'main.js' %}"></script>
</body>
</html>